.media-manager-wrap {
  width: 80%;
  height: 80%;
}

.media-manager {
  width: 100%;
  height: 100%;

  &__top-panel {
    display: flex;
    align-items: center;
  }

  &__files {
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - 50px);
    margin-top: 30px;
    padding-right: 15px;
    overflow: auto;
  }

  &:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity .7s ease, visibility 0s linear .7s;
    z-index: 5;
    content: '';
  }

  &:after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 32px;
    height: 32px;
    margin-top: -16px;
    margin-left: -16px;
    border-radius: 32px;
    border: 2px solid #ddd;
    border-left: 2px solid #000;
    z-index: 6;
    opacity: 0;
    display: none;
    transition: opacity .7s ease;
    content: '';
  }

  &.loading:before {
    opacity: .6;
    visibility: visible;
    transition: opacity .7s ease, visibility 0s linear;
  }

  &.loading:after {
    display: inline-block;
    opacity: 1;
    animation: media-composer-loader .5s linear infinite;
  }

  @keyframes media-composer-loader {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  &__tool-btn {
    margin-left: 15px;
    padding: 4px 30px;
    font-size: 13px;
  }
}

@media (max-width: 767px) {

  .media-manager-wrap {
    width: 90%;
    height: 90%;
  }

  .media-manager {

    &__top-panel {
      flex-wrap: wrap;
    }

    &__load-files {
      margin-bottom: 5px;
    }

    &__tool-btn {
      margin-left: 0;
      margin-top: 5px;
    }

    &__files {
      height: calc(100% - 118px);
    }
  }

}